footer.footer
   .container 
      .footer__content 
         .footer__content-Form
            form(action="").footer__content-form
               input(type="text" placeholder='Date').footer__content-input 
               input(type="text" placeholder='Time').footer__content-input 
               input(type="text" placeholder='How many people').footer__content-input 
               input(type="text" placeholder='Special wishes').footer__content-input 
               input(type="text" placeholder='Your name').footer__content-input 
               input(type="text" placeholder='Your phone').footer__content-input 
               p.footer__content-desc Monday - Sunday ; 09:00 - 02:00
               button.footer__content-button RESERVATION 
            .footer__content-btm 
               img(src="./images/logo-laperle.webp", alt="").footer__content-logo
               .footer__btn-icons
                  a(href="")
                     img(src="./images/facebook.svg", alt="").footer__content-icon
                  a(href="")
                     img(src="./images/instagramm.svg", alt="").footer__content-icon
                  a(href="")  
                     img(src="./images/telegramm.svg", alt="").footer__content-icon
               .footer__btn-cont 
                  h2.footer__btn-h2 CONTACT 
                  a(href="").footer__cont-href (302) 555-0107
                  a(href="").footer__cont-href (239) 555-0108
                  a(href="").footer__cont-href laperle.com
               .footer__btn-lock
                  p.footer__btn-location LOCATION
                  a(href="").footer__loc-href 1901 Thornridge Cir. Shiloh,Hawaii 81063
         .footer__content-box2
            .footer__content-btmbox
               h1.footer__content-h1 RESERVE A TABLE
               p.footer__content-disc1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
               p.footer__content-disc2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16938.95615073028!2d69.2831371971084!3d41.36511768889344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bb93698a547%3A0x9cbe22c61711b250!2z0KLQvtGA0YLRiyDQvdCwINC30LDQutCw0Lcg0LIg0KLQsNGI0LrQtdC90YLQtS4g0KHQstCw0LTQtdCx0L3Ri9C1INGC0L7RgNGC0YssINCU0LXRgtGB0LrQuNC1INGC0L7RgNGC0Ysg0L7RgiBMZWFtb3I!5e0!3m2!1sru!2s!4v1637593911206!5m2!1sru!2s" width="100%" class="iframe" height="250px" style="border:0;" )
         