main.main
   .container
      .main__images 
         .main__image-Menucontent
            .main__image
               img(src="./images/page1-img2.webp", alt="").main__image-img
            .main__images-dis
               h2.main__image-h2 MENU 
               p.main__image-dis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
               a(href="").main__images-href READ MORE
         .main__image-Eventcontent
            .main__images-dis
               h2.main__image-h22 EVENTS 
               p.main__image-dis2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
               a(href="page2.html").main__images-href2 READ MORE
            .main__image
               img(src="./images/page1-img3.webp", alt="").main__image-img
         .main__image-Aboutcontent
            .main__image
               img(src="./images/page1-img4.webp", alt="").main__image-img
            .main__images-dis
               h2.main__image-h2 ABOUT US 
               p.main__image-dis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
               a(href="index.html").main__images-href READ MORE
      .main__end 
         .main__end-cookee  
            img(src="./images/page1-img5.webp", alt="").main__end-cookimg 
            h3.main__end-cook VALENTINE’S DAY
         .main__end-cookee  
            img(src="./images/page1-img6.webp", alt="").main__end-cookimg 
            h3.main__end-cook ENJOY 25% OFF DINNER 
         .main__end-cookee  
            img(src="./images/page1-img7.webp", alt="").main__end-cookimg 
            h3.main__end-cook FISH TARTARE WITH WASABI
         .main__end-cookee  
            img(src="./images/page1-img8.webp", alt="").main__end-cookimg 
            h3.main__end-cook RESTAURANT REVIEW
         .main__end-cookee  
            img(src="./images/page1-img9.webp", alt="").main__end-cookimg 
            h3.main__end-cook MOTHER’S DAY
         .main__end-ConLink 
            a(href="page.html").main__end-text CONTINUE READING OUR NEWS HERE 
        
      