.footer {
   &__content-box2 {
      width: 50%;
      background: $GreyColor;
      padding-top: 40px;
   }

   &__content-h1 {
      color: $BlackColor;
      font-size: 48px;
      line-height: 55px;
      margin-bottom: 30px;
      margin-left: 50px;
   }

   &__content-disc1 {
      color: $BlackColor;
      font-size: 20px;
      line-height: 45px;
      margin-bottom: 50px;
      width: 650px;
      margin-left: 50px;
   }

   &__content-disc2 {
      color: $BlackColor;
      font-size: 20px;
      line-height: 45px;
      width: 650px;
      margin-left: 50px;
      margin-bottom: 163px;
   }
   
   &__content {
      display: flex;
   }
   
   &__content-form {
      margin-top: 130px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   
   &__content-input {
      display: flex;
      font-size: 18px;
      line-height: 21px;
      color: #838383;
      border: none;
      outline: none; 
      width: 370px; 
      height: max-content; 
      margin-bottom: 50px;
      border-bottom: 1px solid #252321;
      padding-bottom: 5px;
   }
   
   &__content-button {
      font-size: 18px;
      line-height: 21px;
      color: $BlackColor;
      background: $WhiteColor;
      padding: 14px 90px;
      border: 1px solid #000000;
      cursor: pointer;
   }
   
   &__content-Form{
      width: 50%;
      padding: 50px;
   }
   
   &__content-desc {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      color: $BlackColor;
   }
   
   &__content-btm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 150px;
   }
   
   &__cont-href{
      display: flex;
      font-size: 16px;
      line-height: 20px;
      color: $BlackColor;
      margin-bottom: 10px;
   }
   
   &__loc-href {
      display: flex;
      font-size: 16px;
      line-height: 20px;
      color: $BlackColor;
      margin-bottom: 10px;
      width: 199px;
   }
   
   &__btn-h2, &__btn-location {
      font-size: 20px;
      line-height: 25px;
      color: $BlackColor;
      margin-bottom: 20px;
   }
   
   &__btn-cont {
      display: flex;
      flex-direction: column;
   }
   
    &__btn-lock {
       display: flex;
       flex-direction: column;
       margin-top: -40px;
    }
    
   &__btn-icons {
      display: flex;
      flex-direction: column;
   }
   
   &__content-icon {
      margin-top: 25px;
   }
}

@media(max-width:1706px) {
   .footer__content-Form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }
   .footer__content-form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 20px;
   }
   .footer__content-btm {
      margin-top: 40px;
   }
}
@media(max-width:1406px) {
   .footer__content-h1 , .footer__content-disc1 , .footer__content-disc2 {
      margin-left: 10px;
   }   
}
@media(max-width:1330px) {
   .footer__content-disc1 {
      width: 500px;
   }
   .footer__content-disc2 {
      width: 500px;
      margin-bottom: 100px;
   }
   
   .footer__content-logo {
      width: 150px;
   }
}

@media(max-width:1296px) {
   .footer__content-desc {
      margin-bottom: 10px;
   }
   .footer__btn-lock{
      max-width: 140px;
      width: 100%;
   }
}

@media(max-width:1100px) {
   .footer__content-logo {
      width: 100px;
      margin-top: 0;
   }
   .footer__btn-icons, .footer__btn-cont, .footer__btn-lock {
      padding: 5px;
   }
   
}
@media(max-width:1028px) {
   .footer__content-disc1 {
      width: 400px;
      font-size: 19px;
      line-height: 25px;
   }
   .footer__content-disc2 {
      width: 400px;
      font-size: 19px;
      line-height: 25px;
      margin-bottom:0; 
   }
   .footer__content-h1 {
      font-size: 45px;
   }
   .footer__content-box2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   .footer__content-input {
      margin-bottom: 25px;
   }
}

@media(max-width:1010px) {
   .footer__content-Form {
      padding-bottom: 0;
   }
   .footer__loc-href {
      max-width: 150px;
      width: 100%;
   } 
   .footer__btn-lock {
      margin-top: -20px;
   }
}
@media(max-width:990px) {
   .footer__content-Form {
      padding: 0 10px;
   }
   .footer__content-btm {
      margin-top: 20px;
   }
}

@media(max-width:830px){
   .footer__content {
      display: flex;
      flex-direction: column;
   }
   .footer__content-Form {
      width: 100%;
   }
   .footer__content-box2 {
      width: 100%;
   }
}
@media(max-width:635px) {
   .footer__content-disc1,.footer__content-disc2 {
      width: 400px;
   }
   
   .footer__content-input {
      width: 300px;
   }
}

@media(max-width:600px) {
   .footer__content-input {
      width: 200px;
   }
}



@media(max-width:470px) {
   .footer__content-h1 {
      margin-left: 0;
      font-size: 30px;
      
   }
}

@media(max-width:410px) {
   .footer__content-disc1{
      width: 300px;
      margin: 0 auto;
   }
   .footer__content-disc2 {
      width: 300px;
      margin: 10px auto;  
   }
   .footer__btn-h2 {
      margin-bottom: 10px;
   }
   .footer__btn-location {
      margin-bottom: 10px;
   }
   .footer__content-icon {
      margin-top: 5px;
   }
   .footer__content-btm {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .footer__btn-lock {
      margin-top: 10px;
   }
}
 