.main {
    &__cakesContent {
        display: flex;
        justify-content: space-between;
    }

    &__cakeContent {
        position: relative;
        max-width: 25%;
        width: 100%;

        
        & img {
            width: 100%;
            max-height: 750px;
            height: 100%;
            filter: blur(2px);
        }
    }

    &__cakeContent-Tink {
        display: none; 
        &.active{
            display: flex;
        }
    }
    &__cakeContent-Tink2 {
        display: none; 
        &.active{
            display: flex;
        }
    }
    &__cakeContent-Tink3 {
        display: none; 
        &.active{
            display: flex;
        }
    }
    &__cakeContent-Tink4 {
        display: none; 
        &.active{
            display: flex;
        }
    }
    
    
    &__cakeContent-link {  
        position: absolute;
        left: 90px;
        bottom: 30px;
        color: $WhiteColor;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid #FFFFFF;
        padding: 13px 124px;
    }

    &__cakeContent-title {
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 48px;
        line-height: 50px;
        color:  $WhiteColor ;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:1880px) {
    .main__cakeContent {
      max-width: 470px;
      width: 100%;
    }
    .main__cakesContent {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main__cakeContent:nth-of-type(4) {
        margin-top: 10px;
    }
}
@media(max-width:1409px) {
    .main__cakeContent:nth-of-type(3) {
        margin-top: 10px;
    }
}
@media(max-width:939px) {
    .main__cakeContent:nth-of-type(2) {
        margin-top: 10px;
    }
}
@media(max-width:480px) {
    .main__cakeContent {
        width: 100%;
        
        img {
            width: 100%;
        }
    }
    
}
@media(max-width:410px) {
    .main__cakeContent-link {
        padding: 10px 40px;  
        margin-left: 60px;
    }
}
@media(max-width:350px) {
    .main__cakeContent-link {
        margin-left: 20px;
    }
}