header.header
    .container
        .header__content
            a(href="").header__content-icons 
                span.header__content-span
            .header__content-test.active2
                img.test__img(src="./images/logo-laperle.webp", alt="")
                //- - var list = ['MENU','ABOUT','RESERVATIONS','NEWS','EVENTS','CAREERS','CONTACT']
                //- each item in list
                //-     li: a(href="").header__content-item= item 
                ul.header__List 
                    a(href="index.html") 
                        li.header__list-item MENU
                    a(href="page4.html")
                        li.header__list-item ABOUT
                    a(href="")
                        li.header__list-item RESERVATIONS
                    a(href="")
                        li.header__list-item NEWS
                    a(href="page2.html")
                        li.header__list-item EVENTS
                    a(href="")
                        li.header__list-item CAREERS
                    a(href="")
                        li.header__list-item CONTACT
                      
                .header__content-Icons 
                    a(href="").header__content-Iconlink
                        img(src="./images/facebook.svg", alt="")     
                    a(href="").header__content-Iconlink
                        img(src="./images/instagramm.svg", alt="")     
                    a(href="").header__content-Iconlink
                        img(src="./images/telegramm.svg", alt="")  
                .header__content-Languages        
                    a(href="").header__content-LangLinkEn En 
                        span /
                    a(href="").header__content-LangLinkRU Ru     
            






            